.werkzeugbox-container {
    position: absolute;
    width: 30rem;
    height: 15rem;
    max-width: 30rem;
    max-height: 15rem;
    padding: 0.25rem;
    top: 2rem;
    right: 2rem;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    border-radius: 0.5rem;
    border: 3px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 99999;
    font-size: 0.8rem;
    user-select: none;
}

.werkzeugbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f2f2f2;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.werkzeugbox-title {
    font-size: 1rem;
    font-weight: bold;
}

.werkzeugbox-close {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.panel-container-mouse-tool {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.panel-container-mouse-tool > div {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
